[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
tk = "*"
numpy = "*"
scipy = "*"
tensorflow = "*"
scikit-learn = "*"
imblearn = "*"

[dev-packages]

[requires]
python_version = "3.9"
